USE [REPORTE]
GO
/****** Object:  Schema [DATOS]    Script Date: 19/04/2024 16:00:29 ******/
CREATE SCHEMA [DATOS]
GO
/****** Object:  Schema [TIPOS]    Script Date: 19/04/2024 16:00:29 ******/
CREATE SCHEMA [TIPOS]
GO
/****** Object:  Schema [VENTAS]    Script Date: 19/04/2024 16:00:29 ******/
CREATE SCHEMA [VENTAS]
GO
/****** Object:  Table [DATOS].[CLIENTES]    Script Date: 19/04/2024 16:00:29 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [DATOS].[CLIENTES](
	[ID_CLIENTE] [int] NOT NULL,
	[NOMBRE_COMPLETO] [nvarchar](65) NULL,
PRIMARY KEY CLUSTERED 
(
	[ID_CLIENTE] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [DATOS].[EDAD]    Script Date: 19/04/2024 16:00:29 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [DATOS].[EDAD](
	[FECHA_NACIMIENTO] [date] NULL,
	[EDAD] [int] NULL,
	[ID_CLIENTE] [int] NULL
) ON [PRIMARY]
GO
/****** Object:  Table [TIPOS].[CLIENTES]    Script Date: 19/04/2024 16:00:29 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [TIPOS].[CLIENTES](
	[ID_TIPOS] [int] NOT NULL,
	[GRUPO_CLIENTES] [varchar](5) NULL,
PRIMARY KEY CLUSTERED 
(
	[ID_TIPOS] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [VENTAS].[ALTA_CLIENTES]    Script Date: 19/04/2024 16:00:29 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [VENTAS].[ALTA_CLIENTES](
	[DIRECCION] [nvarchar](60) NULL,
	[CODIGO_TELEFONICO] [varchar](4) NULL,
	[TELEFONO] [varchar](8) NULL,
	[CORREO_ELECTRONICO] [nvarchar](50) NULL,
	[FECHA_ALTA] [date] NULL,
	[ID_CLIENTE] [int] NULL,
	[ID_TIPOS] [int] NULL
) ON [PRIMARY]
GO
INSERT [DATOS].[CLIENTES] ([ID_CLIENTE], [NOMBRE_COMPLETO]) VALUES (1, N'Leandra Anna Malo Alba')
INSERT [DATOS].[CLIENTES] ([ID_CLIENTE], [NOMBRE_COMPLETO]) VALUES (2, N'Severo Granados Iglesia')
INSERT [DATOS].[CLIENTES] ([ID_CLIENTE], [NOMBRE_COMPLETO]) VALUES (3, N'Lucho Andreu Amat')
GO
INSERT [DATOS].[EDAD] ([FECHA_NACIMIENTO], [EDAD], [ID_CLIENTE]) VALUES (CAST(N'1984-12-08' AS Date), 39, 1)
INSERT [DATOS].[EDAD] ([FECHA_NACIMIENTO], [EDAD], [ID_CLIENTE]) VALUES (CAST(N'1986-08-12' AS Date), 38, 2)
INSERT [DATOS].[EDAD] ([FECHA_NACIMIENTO], [EDAD], [ID_CLIENTE]) VALUES (CAST(N'1990-04-16' AS Date), 34, 3)
GO
INSERT [TIPOS].[CLIENTES] ([ID_TIPOS], [GRUPO_CLIENTES]) VALUES (1, N'O')
INSERT [TIPOS].[CLIENTES] ([ID_TIPOS], [GRUPO_CLIENTES]) VALUES (2, N'R')
INSERT [TIPOS].[CLIENTES] ([ID_TIPOS], [GRUPO_CLIENTES]) VALUES (3, N'F')
GO
INSERT [VENTAS].[ALTA_CLIENTES] ([DIRECCION], [CODIGO_TELEFONICO], [TELEFONO], [CORREO_ELECTRONICO], [FECHA_ALTA], [ID_CLIENTE], [ID_TIPOS]) VALUES (N'7943 S. Fifth Street', N'598', N'451-5865', N'uraeus@mac.com', CAST(N'2012-01-19' AS Date), 1, 3)
INSERT [VENTAS].[ALTA_CLIENTES] ([DIRECCION], [CODIGO_TELEFONICO], [TELEFONO], [CORREO_ELECTRONICO], [FECHA_ALTA], [ID_CLIENTE], [ID_TIPOS]) VALUES (N'77 Lyme Street', N'869', N'771-1487', N'bhima@me.com', CAST(N'2005-03-22' AS Date), 2, 1)
INSERT [VENTAS].[ALTA_CLIENTES] ([DIRECCION], [CODIGO_TELEFONICO], [TELEFONO], [CORREO_ELECTRONICO], [FECHA_ALTA], [ID_CLIENTE], [ID_TIPOS]) VALUES (N'9448 Fairfield St.', N'246', N'245-7306', N'psichel@sbcglobal.net', CAST(N'2007-09-15' AS Date), 3, 3)
GO
ALTER TABLE [DATOS].[EDAD]  WITH NOCHECK ADD FOREIGN KEY([ID_CLIENTE])
REFERENCES [DATOS].[CLIENTES] ([ID_CLIENTE])
GO
ALTER TABLE [VENTAS].[ALTA_CLIENTES]  WITH NOCHECK ADD FOREIGN KEY([ID_CLIENTE])
REFERENCES [DATOS].[CLIENTES] ([ID_CLIENTE])
GO
ALTER TABLE [VENTAS].[ALTA_CLIENTES]  WITH NOCHECK ADD FOREIGN KEY([ID_TIPOS])
REFERENCES [TIPOS].[CLIENTES] ([ID_TIPOS])
GO
